@import 'font', 'reset', 'variant';

*{font-family: $eng;}
/* main */
.bg {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100vh;
    background-color: $main-color;
  }
.filter {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: url(../images/noise.gif);
  opacity: 0.05;
  pointer-events: none;
}
.texture{
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background: url(../images/texture.jpg);
  opacity: 0.05;
  pointer-events: none;
}
.modal {
  position: fixed; z-index: 100;
  left: 0; top: 0;
  width: 100%;
  height: 0; overflow: hidden;
  background-color: $main-black;
  transition: height 0.5s ease;
  &.active {
    height: 100%;
  }
  .modal-content{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    img{width: 57vw;}
    .modal-close{
      width: 3vw;
      transform: translate(47vw, -30vw);
      img{width: 3vw; transition: 0.3s; cursor: pointer;}
      &:hover img{
        transform: rotate(90deg);
      }
    }
    .modal-text{
      p{transform: translate(12vw, -22.5vw); font-size: 2vw; width: 35vw; text-align: center;}
      img{
        cursor: pointer;
        width: 13vw; position: absolute;
        transition: .2s;
        &:hover{
          filter: invert(56%) sepia(9%) saturate(1176%) hue-rotate(133deg) brightness(100%) contrast(91%);
        }
        &:nth-child(2){
          top: 14vw; left: 23vw;
        }
        &:nth-child(3){
          top: 28vw; left: 15vw;
          width: 10vw;
        }
        &:nth-child(4){
          top: 28vw; left: 34vw;
          width: 11vw;
        }
      }
    }
  }
}
main {
  position: relative; width: 100%;
  height: 250vw;
  .main-text {
    padding: 2vw 1.5vw;
    span {
      font-size: 1.1vw; color: $font-color;
      font-weight: bold; line-height: 1.7vw;
    }
  }
  .menu-wrap{
    position: fixed; right: 10vw; top: 1vw;
    z-index: 80;
    .menu {
      cursor: pointer;
      position: relative;
      &:hover img:nth-child(2) {
        transform: translate(1.6vw, 3.2vw);
      }
      img {
        position: absolute;
        &:nth-child(1){
          width: 6.25vw; height: 5.26vw;
        }
        &:nth-child(3){
          width: 5.52vw; height: 3.33vw;
        }
        &:nth-child(2) {
          width:3.33vw;
          height: 1.82vw;
          transform: translate(1.6vw, 2vw);
          transition: .3s;
        }
      }
    }
  }
  .main-img-wrap{
    img{
      position: absolute;
      &.main01{ 
        left: 50%;transform: translateX(-60%); top: -10vw; width: 50.7vw; height: 67.4vw;
      }
      &.coin{
        z-index: 6;
        left: 31vw; top: 50vw;
        width: 6.1vw;
      }
      &.box01{
        left: 20vw; top: 40.5vw;
        width: 29.6vw; height: 26.5vw;
        z-index: 2;
      }
      &.cat{
        z-index: 0;
        width: 16.8vw; height: 16.1vw;
        left: 58vw; top:50vw;
        transform: rotate(330deg);
      }
      &.box02{
        width: 20.2vw; height: 19vw;
        transform: rotate(10deg);
        left: 39.6vw; top: 46vw;
      }
      &:nth-child(2){
        left: 6.6vw; top: 35.5vw;
        width: 33.9vw; height: 34vw;
        animation: trash infinite 0.8s;
        @keyframes trash {
          0% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
          4.13% {
            transform: translateX(2px) rotate(-1deg);
            animation-timing-function: linear;
          }
          8.26% {
            transform: translateX(-2px) rotate(-1deg);
            animation-timing-function: linear;
          }
          12.39% {
            transform: translateX(2px) rotate(-1deg);
            animation-timing-function: linear;
          }
          16.52% {
            transform: translateX(-2px) rotate(1deg);
            animation-timing-function: linear;
          }
          17.35% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
          100% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
        }
      }
      &:nth-child(6){
        left: 55vw; top: 48vw;
        width: 17vw; height: 12.2vw;
        transform: rotate(160deg);
        animation: book infinite 0.1s;
        @keyframes book {
          0% {
            transform: translateX(0px) rotate(160deg);
            animation-timing-function: linear;
          }
          4.13% {
            transform: translateX(2px) rotate(159deg);
            animation-timing-function: linear;
          }
          8.26% {
            transform: translateX(-2px) rotate(159deg);
            animation-timing-function: linear;
          }
          12.39% {
            transform: translateX(2px) rotate(159deg);
            animation-timing-function: linear;
          }
          16.52% {
            transform: translateX(-2px) rotate(161deg);
            animation-timing-function: linear;
          }
          17.35% {
            transform: translateX(0px) rotate(160deg);
            animation-timing-function: linear;
          }
          100% {
            transform: translateX(0px) rotate(160deg);
            animation-timing-function: linear;
          }
        }
      }
    }
  }
  .main-title-wrap{
    img{
      height: 19.3vw;
      position: absolute;
      &:nth-child(1){
        left: 1.5vw;
      }
      &:nth-child(2){
        left: 9vw;
        animation: title infinite 0.2s;
        @keyframes title {
          0% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
          4.13% {
            transform: translateX(2px) rotate(-3deg);
            animation-timing-function: linear;
          }
          8.26% {
            transform: translateX(-2px) rotate(-3deg);
            animation-timing-function: linear;
          }
          12.39% {
            transform: translateX(2px) rotate(-3deg);
            animation-timing-function: linear;
            opacity: 0.8;
          }
          16.52% {
            transform: translateX(-2px) rotate(3deg);
            animation-timing-function: linear;
          }
          17.35% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
          100% {
            transform: translateX(0px) rotate(0deg);
            animation-timing-function: linear;
          }
        }
      }
      &:nth-child(3){
        left: 16vw;
      }
      &:nth-child(4){
        right: 2vw;
      }
      &:nth-child(5){
        left: 1.5vw; top: 30vw;
      }
      &:nth-child(6){
        right: 9vw;; top: 30vw;
        z-index: 7;
      }
      &:nth-child(7){
        right: 2vw;; top: 30vw;
        animation: title infinite 0.15s;
      }
    }
  }
  .main-desc{
    position: absolute;
    z-index: 10;
    top: 80vw;
    p{
      color: $font-color;
      font-size: 2.8vw;
      margin-left: 1.5vw;
      &:nth-child(1){
        margin-left: 23vw;
      }
    }
  }
  .section01-img-wrap{
    overflow-x: hidden;
    transform: translateY(95vw);
    img{
      width: 98.97vw;
    }
    .left-img-wrap{
      position: absolute;
      top: 0;
      .left-hand{
        position: absolute;
        width: 40vw; 
        top: 15vw; left: -40vw;
      }
      .left{
        position: absolute;
        width: 20vw;
        left: -20vw; top: 15vw;
      }
    }
    .right-img-wrap{
      position: absolute;
      top: 0;
      .right-hand{
        position: absolute;
        width: 31.1vw;
        left: 100vw; top: 20vw;
      }
      .right{
        position: absolute;
        width: 31.8vw;
        left: 90vw; top: 10vw;
      }
    }
  }
}
section.section01{
  background-color: $main-black;
  overflow-y: visible; height: 142vw;
  .pet {
    img {
      width: 9.1vw;
      transform: translate(70vw, 45vw) rotat(110deg);
      animation: pet 0.5s infinite;
    }
    @keyframes pet {
        0% {
          transform: translate(70vw, 45vw) rotate(110deg);
          animation-timing-function: linear;
        }
        4.13% {
          transform: translate(70vw, 45vw) rotate(108deg);
          animation-timing-function: linear;
        }
        8.26% {
          transform: translate(70vw, 45vw) rotate(108deg);
          animation-timing-function: linear;
        }
        12.39% {
          transform: translate(70vw, 45vw) rotate(108deg);
          animation-timing-function: linear;
        }
        16.52% {
          transform: translate(70vw, 45vw) rotate(112deg);
          animation-timing-function: linear;
        }
        17.35% {
          transform: translate(70vw, 45vw) rotate(110deg);
          animation-timing-function: linear;
        }
        100% {
          transform: translate(70vw, 45vw) rotate(110deg);
          animation-timing-function: linear;
        }
    }
  }
  .section01-text-wrap{
    p{
      color: $font-color;
      &:nth-child(1){
        width: 32vw;
        font-size: 1.3vw;
        transform: translate(25vw, 15vw);
      }
      &:nth-child(2){
        font-size: 2vw;
        width: 30vw;
        transform: translate(45vw, 29vw);
      }
    }
  }
  .tear{
    position: absolute;
    width: 50vw;
    display: none;
    transform: translate(0, -10vw) rotate(-15deg);
    img{
      &:nth-child(1){width: 50vw;}
      &:nth-child(2){
        transform: translate(5vw, -22vw);
        width: 28vw;
      }
    }
  }
  .section01-paper{
    position: relative;
    top: 32vw;
    img{
      position: absolute;
      width: 98.95vw;
      &:nth-child(1){
        top: 3vw;
      }
      &:nth-child(2){}
      &:nth-child(3){
        top: 45vw;
      }
      &:nth-child(4){
        top: 23vw; left: 2vw;
        width: 75vw;
      }
    }
    p{
      transform: translate(28vw,40vw);
      color: $font-color; width: 20vw;
    }
  }
}
section.section02{
  height: 210vw; width: 100%;
  background-color: $main-black;
  position: relative; overflow-x: hidden;
  .section02-text-wrap01{
    margin-left: 2vw;
    p{
      &:first-child{text-align: center;}
      color: $font-color;
      font-size: 2.65vw;
      width: 93vw;
      &:last-child{
        font-size: 1vw;
        width: 25vw;
        transform: translate(20vw, 3vw);
        line-height: 1.4;
      }
    }
  }
  .section02-img-wrap{
    position: absolute;
    left: 55vw; top: 8vw;
    img{
      position: absolute;
      &.section02-head{
        width: 17.7vw;
        left: 8vw; top: 22vw;
      }
      &.section02-face01{
        width: 15.8vw;
        left: 15vw; top: 24.9vw;
      }
      &.section02-face02{
        width: 16.1vw;
        top: 40vw; left: 10vw;
      }
      &.section02-clock{
        width: 8.9vw;
        left: 10vw; top: 33vw;
      }
    }
  }
  .ticket{
    transform: rotate(-5deg);
    img{
      position: absolute;
      &:nth-child(1){
        width: 30.9vw;
        right: 25.1vw; top: 17vw;
      }
      &:nth-child(2){
        width: 32.16vw;
        right: 2vw; top: 17vw;
      }
    }
  }
  .crack{
    img{
      position: absolute;
      &:nth-child(1){
        top: 20vw; left: -15vw;
        transform: rotate(50deg);
      }
      &:nth-child(2){
        width: 30vw; transform: rotate(-10deg);
        left: 30vw; top: 30vw;
      }
      &:nth-child(3){
        top: 97vw; left: -22vw;
        width: 55vw;
        transform: rotate(-10deg);
      }
    }
  }
  .section02-text-wrap02{
    color: $font-color;
    transform: translateY(48vw);
    margin-left: 2vw;
    p{
      &:nth-child(1){
        font-size: 2.65vw;
      }
      &:nth-child(2){
        font-size: 2.65vw;
        width: 40vw; transform: translateX(22vw);
      }
      &:nth-child(3){
        font-size: 1vw;
        width: 23vw; transform: translateX(22vw);
        margin-top: 3vw; line-height: 1.4;
      }
    }
  }
  .section02-text-wrap03{
    color: $font-color;
    transform: translateY(65vw);
    p{
      &:nth-child(1){
        font-size: 2.65vw;
        transform: translateX(50vw);
      }
      &:nth-child(2){
        font-size: 2.65vw;
        width: 70vw; transform: translateX(28vw);
      }
      &:nth-child(3){
        font-size: 1vw;
        width: 15vw; transform: translateX(48vw);
        margin-top: 1.5vw; line-height: 1.4;
      }
    }
  }
  .section02-stuff{
    img{
      position: absolute;
      &:nth-child(3){
        width: 120vw;
        left: -7vw; bottom: 5vw;
      }
      &:nth-child(2){
        width: 180vw;
        bottom: 0; left: 50%; transform: translateX(-50%);
      }
      &:last-child{
        bottom: 10vw;
        width: 25vw; left: 25vw;
        transform: rotate(20deg); 
        animation: pail infinite 0.1s;
        @keyframes pail {
          0%{transform: rotate(21deg);}
          50%{transform: rotate(20deg);}
          100%{transform: rotate(19deg);}
        }
      }
      &.section02-hand{
        width: 30vw;
        bottom: 40vw; left: 50%; transform: translateX(-50%);
      }
    }
  }
}
section.section03{
  height: 310vw;
  position: relative; overflow: hidden;
  .section03-bg{
    .bg{width: 100%;}
    .section03-img-wrap {
      position: absolute;
      img {
        position: absolute;
        &.section03-group1 {
          width: 60vw;
          left: 50vw;
          top: -35vw;
        }
        &.section03-group2 {
          width: 50vw;
          left: -10vw;
          top: -36vw;
        }
        &.section03-group3 {
          width: 40vw;
          left: 70vw;
          top: -30vw;
        }
        &.section03-group4 {
          width: 40vw;
          left: 25vw;
          top: -32vw;
        }
        &.section03-group5 {
          width: 25vw;
          left: 18vw;
          top: -20vw;
        }
      }
      p{
        color: $font-color;
        font-size: 3vw;
        width: 36.4vw;
        position: absolute; top: 8vw; left: 30vw;
        &:nth-child(1){opacity: 0;}
        &:nth-child(2){opacity: 0;}
        &:nth-child(3){opacity: 0;}
        &:nth-child(4){opacity: 0;}
        &:nth-child(5){opacity: 0;}
      }
    }
  }
  .section03-wallpaper{
    img{
      position: absolute;
      width: 180vw;
      top: 0; left: 50%; transform: translateX(-50%);
      &:nth-child(2){
        width: 90vw;
      }
      &:nth-child(5){
        width: 2vw;
        left: 86.7vw; top: 10.1vw;
      }
      &:nth-child(4){
        width: 30vw;
        left: 65vw; top: 10vw;
        animation: section03-frame infinite 3s;
        @keyframes section03-frame {
          0%{transform: rotate(0);}
          50%{transform: rotate(4deg) translateX(-25px);}
          100%{transform: rotate(0);}
        }
      }
    }
    p{position: absolute; top: 17vw; left: 30vw; font-size: 2.2vw; color: $font-color; width: 35vw;}
  }
}
section.section04{
  overflow: hidden; background-color: $main-black;
  height: 300vw; position: relative;
  .section04-title{
    width: 100%; background-color: $main-black;
    img{width: 80.1vw; margin: 10vw 2vw 0 2vw;}
  }
  .section04-img-wrap{
    height: 100vh; width: 100%;
    background-color: $main-black;
    .section04-stuff{
      img{
        position: absolute;
        &.human{
          width: 28vw;
          top: 16vw; left: 50%; transform: translateX(-50%);
        }
        &.section04-text02{
          width: 15vw;
          top: 11vw; right: -22vw;
        }
        &.curtches01{
          width: 15vw;
          top: 22vw; right: -15vw;
        }
        &.curtches02{
          width: 15vw;
          top: 38vw; right: -15vw;
        }
        &.wheelchair{
          width: 21vw;
          top: 8vw; right: -21vw;
        }
        &.section04-text03{
          width: 27vw;
          right: -27vw; top: 30vw;
        }
        &.bug{
          width: 80vw;
          right: -78vw; top: 5vw; 
        }
        &.shoot{
          left: 50vw; top: 40vw;
          display: none;
        }
        &.febric{
          width: 9.5vw;
          left: 43vw; top: 18vw;
          display: none;
        }
      }
    }
    .fire{
      position: absolute; top: 45vw;
      img{
        position: absolute;
        &:nth-child(1){
          top: 10vw; width: 120vw;
        }
        &:nth-child(2){
          top: 20vw; width: 120vw;
        }
        &:nth-child(3){
          top: 40vw; width: 120vw;
        }
        &:nth-child(4){
          left: 38vw;
          top: 75vw;
        }
      }
    }
  }
}
section.section05{
  position: relative;
  height: 230vw;
  .section05-text{
    img{
      margin-left: 2vw;
      width: 80vw;
    }
    p{
      color: $font-color;
      &:nth-child(2){
        b{font-weight: 900;}
        font-size: 3vw;
        width: 43vw;
        font-weight: 200;
        transform: translate(25vw, 1vw);
      }
      &:last-child{
        font-size: 1.1vw;
        font-weight: normal;
        width: 25vw;
        transform: translate(50vw, 2vw);
      }
    }
  }
  .section05-bg{
    position: absolute;
    width: 100%; height: 100%;
    top: 65vw;
    img{
      position: absolute;
      &:first-child{
        width: 98.9vw;
      }
      &:nth-child(2){
        width: 100%;
        top: 40vw;
      }
    }
    span{
      transform: translate(51vw, 18vw); width: 38vw; color: $font-color; font-size: 2.5vw; display: block;
    }
    p{
      transform: translate(28vw,18vw); width: 57vw; color: $font-color; font-size: 2.5vw;
    }
  }
  .section05-img-wrap{
    img{
      position: absolute;
      width: 100%;
      top: 28vw;
      &.section05-human{
        width: 25.4vw; top: 35.6vw; left: 4.3vw;
      }
    }
  }
  .section05-memo{
    position: absolute;
    top: 120vw;
    img{
      &:nth-child(1){
        width: 40vw;
        transform: translate(53vw, 10vw);
      }
      &:nth-child(2){
        width: 50vw;
        transform: translate(-32vw, 37vw);
      }
      &:nth-child(3){
        width: 25vw;
        transform: translate(10vw, -30vw);
        animation: memo infinite 2s;
        @keyframes memo {
          0%{transform: translate(10vw, -30vw) rotate(0deg);}
          50%{transform: translate(10vw, -30vw) rotate(10deg);}
          100%{transform: translate(10vw, -30vw) rotate(0deg);}
        }
      }
    }
  }
  .section05-hand-wrap{
    width: 100%; height: 50vw;
    top: 120vw;
    position: absolute; overflow: hidden;
    img{
      position: absolute;
      &.section05-stuff01{
        width: 60vw;
        right: -8vw;
      }
      &.section05-hand{
        width: 50vw; right: -10vw; top: -5vw;
      }
    }
  }
  .section05-stuff{
    position: absolute;
    bottom: 0vw; width: 100%; height: 50vw;
    overflow-x: hidden;
    img{
      cursor: pointer;
      position: absolute;
      transition: 1s;
      &.section05-stuff02{
        left: -10vw;
        width: 55vw;
      }
      &.section05-stuff03{
        left: 40vw; top: 6vw;
        width: 40vw; 
      }
      &.section05-stuff04{
        left: 60vw;
        width: 48vw;
      }
    }
  }
}
footer{
  position: relative;
  height: 125vh; overflow: hidden;
  .footer-bg{
    overflow: hidden; height: 125vh;
    img{
      transform: translateX(-10vw);
      width: 120vw;
      &:first-child{}
    }
  }
  .footer-tv{
    position: absolute;
    top: 0; height: 100vh;
    img{
      position: absolute;
      &:nth-child(1){
        width: 18vw; 
        left: 17vw; top: 27vw;
        animation: photo 2s infinite;
        @keyframes photo {
          0%{opacity: 1;}
          5%{opacity: 0;}
          6%{opacity: 1;}
          8%{opacity: 0;}
          9%{opacity: 1;}
          100%{opacity: 1;}
        }
      }
      &:nth-child(2){
        width: 25vw;
        left: 15vw; top: 25vw;
      }
      &:nth-child(3){
        width: 50vw;
        left: -5vw; bottom: -25vw;
      }
    }
  }
  .footer-frame{
    position: absolute;
    top: 0;
    img{
      position: absolute;
      top: 38vw;
      &:nth-child(1){
        width: 12vw;
        left: 50vw;
        animation: frame01 infinite 2s;
        @keyframes frame01 {
          0%{transform: rotate(0);}
          50%{transform: rotate(3deg);}
          100%{transform: rotate(0);}
        }
      }
      &:nth-child(2){
        width: 14vw;
        left: 65vw;
        animation: frame02 infinite 1.8s;
        @keyframes frame02 {
          0%{transform: rotate(0);}
          50%{transform: rotate(-3deg);}
          100%{transform: rotate(0);}
        }
      }
      &:nth-child(3){
        width: 15vw;
        left: 80vw;
        animation: frame03 infinite 3s;
        @keyframes frame03 {
          0%{transform: rotate(0);}
          50%{transform: rotate(4deg);}
          100%{transform: rotate(0);}
        }
      }
    }
  }
  .nail{
    position: absolute;
    top: 38vw; left: 56.2vw;
    .nail01{
      width: 1.5vw;
    }
    .nail02{
      width: 1.5vw;
      transform: translateX(13.2vw);
    }
    .nail03{
      width: 1.5vw;
      transform: translateX(27.3vw);
    }
  }
  .footer-text{
    img{
      position: absolute; top: 0;
      left: 52vw; top: 30vw;
      width: 18vw;
    }
    p{
      position: absolute; top: 0;
      left: 52vw; top: 38vw;
      &:nth-child(1){
        top: 26.5vw; font-size: 2vw;
        color: $font-color;
      }
      &:nth-child(3){
        top: 56vw; width: 35vw;
        font-size: 1vw;
        color: $font-color;
      }
    }
  }
}